ul	 {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: rgb(255, 140, 0);
		position: fixed;
		top: 0;
		width: 100%;
    	}
li  	{
        	float: left;
    	}
li a	{
        	display: block;
        	color: rgb (54, 54, 54);
        	text-align: center;
        	padding: 14px 16px;
        	text-decoration: none;
    	}
li a:hover {
                color: #000000;
                background-color: rgb(123, 104, 238);
        }
article {
                padding: 16px;
                margin-top: 30px;
                height: 1500px;
        }
            